{% extends "mcl_portfolio/base.html" %}

{% block content %}
    <h1>Welcome to Jonathan Russell</h1>
    <div>I am currently a 4th year BS in Computer Science at Mapua Malayan Colleges Laguna.</div>
    <div>I am an aspiring software engineer. Then sabihin mo about sa mga gusto mo. Basta magkuwento ka.</div>
    <div>Current job profession: Software Technical Publication Intern at Lattice Semiconductor Philippines</div>
    <div>Skills and Interests: Web Development, Machine Learning, Data Science, Software Testing, Database Management, Data Analysis, and Mobile Development</div>

{% endblock %}